#input-group-month-year { 
    width: 130px; margin: auto;
}

#create-room-invoice {
    position: absolute;
}
@media(max-width:767px) {
    #create-room-invoice {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 170px;
    }
}

.already-invoiced {
    position: absolute;
    margin-left: -10px;
    width: 100%;
    color: #3c8dbc;
    font-size: 13px;
    font-weight: bold;
    top: 31%;
    /*background-color: #c9c9c9;*/
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    opacity: 1.0
}

.invoice-detail {
    color: #777777;
    cursor: pointer;
}

.not-have-meter {
    position: absolute;
    width: 100%;
    color: #f39c12;
    font-size: 16px;
    font-weight: bold;
    top: 40%;
    /*background-color: #c9c9c9;*/
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    opacity: 1.0
}

#building-list {
    width: 200px;
    margin: auto;
}

#box-room-container {
    min-height: 300px;
}

.box-room_ {
    text-align: center;
    margin-top: 10px;
}

.box-room {
    border: 1px solid #ffffff;
    text-align: center;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

.box-room-name {
    margin-top: 15px;
}

.room-icon {
    font-size: 60px;
}

.room-detail-label {
    height: 20px;
}

#box-room-container-no-data, #box-room-container-select-data {
    position: absolute;
    font-size: 20px;
    width: 400px;
    padding: 20px;
    text-align: center;
    
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#box-room-template, .invoice-json-data {
    display: none;
}

.floor-separate {
    clear: both;
    text-align: center;
    background-color: #f5f5f5;
    margin-top: 20px;
}

.room-checkbox {
    width: 15px;
    height: 15px;
}

.cancel-invoice-button, .pay-invoice {
    padding: 1px 5px 1px 5px;
}

#modal-room-invoice-detail .modal-body table {
    min-width: 400px;
}

#modal-room-invoice-detail .modal-body .data-display {
    color: #3c8dbc;
    font-weight: bold;
}

#modal-room-invoice-detail .modal-body table thead th:nth-child(2) {
    width: 100px;
}

#modal-room-invoice-detail .modal-body #grand-total-table thead tr {
    background-color: #3c8dbc;
    color: #FFFFFF;
}