.hr-separate {
    margin-top: 0px;
    border-top: 1px solid #dddddd;
}

.info-chart-data-list {
    color: #ffffff;
    background-color: #f39c12;
}

#room-by-building-chart {
    height: 400px;
}

#invoice-by-building-month-chart, #receipt-by-building-month-chart {
    height: 350px;
}

.building-list {
    width: 200px;
    margin: auto;
}

.data-list-top-head {
    background-color: #295f67;
    color: #ffffff;
}

#invoice-by-building-month-chart-box #invoice-by-building-chart-month-year, 
#receipt-by-building-month-chart-box #receipt-by-building-chart-month-year {
    width: 100px !important;
}

#notice-check-out-by-building-list-box .box-body {
    max-height: 400px; 
    overflow-y: auto;
}

#notice-check-out-list-table-content, #room-data-list-table-content {
    font-size: 13px;
}

#notice-check-out-list-table-content thead tr:last-child th:nth-child(1), 
#notice-check-out-list-table-content thead tr:last-child th:nth-child(2) {
    width: 180px !important;
}

#room-data-list-table-content thead tr:last-child th:nth-child(1) {
    width: 80px !important;
}
#room-data-list-table-content thead tr:last-child th:nth-child(2) {
    width: 200px !important;
}
#room-data-list-table-content thead tr:last-child th:last-child {
    width: 150px !important;
}

#invoice-by-building-month-chart-detail-list thead th {
    width: 50%;
}
