#room-by-building-chart {
    height: 400px;
}

#invoice-by-building-month-chart, #receipt-by-building-month-chart {
    height: 350px;
}

.building-list {
    width: 200px;
    margin: auto;
}

#invoice-by-building-month-chart-box #invoice-by-building-chart-month-year, 
#receipt-by-building-month-chart-box #receipt-by-building-chart-month-year {
    width: 100px !important;
}

#notice-check-out-by-building-list-box .box-body {
    max-height: 400px; 
    overflow-y: auto;
}

#notice-check-out-list-table-content thead tr:last-child th:nth-child(1), 
#notice-check-out-list-table-content thead tr:last-child th:nth-child(2) {
    width: 180px !important;
}
