#room-by-building-chart {
    height: 400px;
}

#invoice-by-building-month-chart, #receipt-by-building-month-chart {
    height: 350px;
}

.building-list {
    width: 200px;
    margin: auto;
}

#invoice-by-building-month-chart-box #invoice-by-biulding-chart-month-year, 
#receipt-by-building-month-chart-box #receipt-by-biulding-chart-month-year {
    width: 100px !important;
}
